@import url("https://fonts.googleapis.com/css?family=Inter");

body {
    margin: 0;
    padding: 0;
}

#intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Or any background color */
}

#main-app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}


#timeline{
    position:fixed;
    left: 0px; top: 120px;
    float:left; display:inline; width: 100px;
    padding: 10px;
    z-index: 100;
}
#commands-bar{
    position:fixed;
    left: 000px; top: 0px;
    padding: 30px;
    z-index: 100;
}

#commands-bar-2{
    position:fixed;
    left: 200px; top: 0px;
    padding: 30px;
    z-index: 100;
}

#commands-bar-3{
    position:fixed;
    left: 400px; top: 0px;
    padding: 30px;
    z-index: 100;
}

.audioOn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
    background-color: black;
}

#audioOn{
    color: rgb(0, 255, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 2px solid rgb(0, 255, 0);
}

#volume-slider{
    color:rgb(0, 255, 0);
    position:fixed;
    font-size: 15px;
    right: 200px; top: 99px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    z-index: 90;

}

#credits{
    position:fixed;
    text-align: right;
    right: 15px; top: 10px;
    padding: 5px;
    z-index: 100;
    color: rgb(0, 255, 0);
    border: none;
    height: auto;
    width: auto;
    font-size: 15px;
}



.slider{
    position:fixed;
    background:rgb(0, 255, 0);
    accent-color: rgb(0, 255, 0);
    right: 10px; top: 90px;
    padding: 5px;
    z-index: 100;
    color: rgb(50, 214, 0); 
    border: none;
    height: auto;
    width: auto;
    font-size: 15px;
}

#text-logs{
    position:fixed;
    right: 10px; bottom: 10px;
    padding: 0px;
    z-index: 100;
    color: rgb(0, 255, 00);
    border: 1px solid white;
    height: 20px;
    width: 20px;
    font-size: 15px;
}

#scatterPlot{
    position:fixed;

}

#composition-bar {
    position:absolute;
    left: 50px; top: 120px;
    float:left; display:inline; width: 150px;
}

.overlay {
    background-color: rgba(255, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

